<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
</head>

<body>
    <a href="?action=segundasChamadas">segundasChamadas</a>
    <br>
    <a href="?action=semestres">semestres</a>
    <br>
    <a href="?action=materias">materias</a>
    <br>
    <a href="?action=provas">provas</a>
    <br>
    <a href="?action=logof">Sair</a>
    <br>
    <div>
        {% if response == 'registered' %} Prova Cadastrada {% elseif response == 'fail' %} ocoreu um erro {% endif %}
    </div>
    <h2>cadastrar Prova </h2>
    <form action="index.php?action=cadastrarProva" method="post">
        <label>
            Prova:
            <input type="text" name="name" required>
        </label>
        <br>
        <label>
            Materia
            <select name="idMatter" required>
                <option value="">Selecione</option>
                {% for matter in findSelect %}
                <option value="{{ matter.0 }}">{{ matter.1 }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <input type="submit" value="enviar">
    </form>
    <br>
    <div>
        {% for test in findAll %} Prova : {{ test.1 }}, Materia: {{ test.2 }}
        <br> {% endfor %}
    </div>


</body>

</html>