<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
</head>

<body>
    <h1>My Webpage</h1>
    <form action="index.php?action=logar" method="post">
        {% if response == 'sim' %}
        <p>Login efetuado com sucesso!</p>
        {% elseif response == 'nao' %}
        <p>email ou senha incorretos!</p>
        {% endif %}
        <label>
            email:
            <input type="text" name="email">
        </label>
        <label>
            senha:
            <input type="text" name="password">
        </label>
        <input type="submit" value="enviar">
    </form>

    <a href="?action=cadastro">Cadastro</a>
</body>

</html>