<!DOCTYPE html>

<head>
	<title>Cadastro - Semestre</title>
	{% include requires.header %}
</head>

<body>
	{% include requires.menu %}

	<section class="container jumbotron-fluid bg-light shadow p-3 mt-4">
		<header class="row justify-content-center mt-3 mb-3">
			<div class="col-auto">
				<h2 id="login">Cadastrar Semestre</h2>
			</div>
		</header>
		<article class="row justify-content-center ml-0 mr-0">

			<div class="col-md-10 offset-md-1">
				{% if response == 'fail' %}
				<div class="alert alert-danger mt-3" role="alert">
					Falha ao realizar o cadastro.
				</div>
				{% elseif response == 'registered' %}
				<div class="alert alert-success" role="alert">
					Cadastro realizado com sucesso.
				</div>
				{% endif %}
			</div>
			<div class="col-sm-12 col-md-10 col-lg-8">
				<form action="index.php?action=cadastrarSemestre" method="post">
					<div class="form-group">
						<label for="inputNome">Insira o semestre</label>
						<input type="text" name="name" placeholder="Nome" class="form-control" required>
					</div>
					<div class="row mt-4 text-center">
						<div class="col-12">
							<input type="submit" name="inputCadastro" class="btn btn-success" value="CADASTRAR">
						</div>
				</form>
				</div>
		</article>
	</section>

	<hr>

	<section class="container jumbotron-fluid bg-light shadow p-3 mt-4">
		<header class="row justify-content-center mt-3 mb-3">
			<div class="col-auto">
				<h2 id="login">Semestres Cadastrados</h2>
			</div>
		</header>
		<article class="row justify-content-center ml-0 mr-0">
			<table class="table table-hover shadow mt-2 text-center">
				<thead>
					<tr>
						<th scope "col">#</th>
						<th scope "col">Semestre</th>
						<th scope "col">Token</th>
					</tr>
				</thead>
				<tbody>
					{% for half in findAll %}
					<tr>
						<td>{{ half.0 }}</td>
						<td>{{ half.1 }}</td>
						<td>{{ half.2 }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</article>
	</section>

	<footer>
		{% include requires.footer %}
	</footer>
</body>

</html>