<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
</head>

<body>
    <a href="?action=segundasChamadas">segundasChamadas</a>
    <br>
    <a href="?action=semestres">semestres</a>
    <br>
    <a href="?action=materias">materias</a>
    <br>
    <a href="?action=logof">Sair</a>
    <br>
    <div>
        {% if response == 'registered' %} Semestre Cadastrado {% elseif response == 'fail' %} ocoreu um erro {% endif %}
    </div>
    <h2>cadastrar semestre </h2>
    <form action="index.php?action=cadastrarSemestre" method="post">
        <label>
            Semestre:
            <input type="text" name="name" required>
        </label>
        <br>
        <input type="submit" value="enviar">
    </form>
    <br>
    <div>
        {% for half in findAll %} semestre: {{ half.1 }} - token: {{ half.2 }}
        <br> {% endfor %}
    </div>


</body>

</html>